<header>
	<div class="main-links">
		<NavLink href="" class="navbar-brand">MTGTraderMarket</NavLink>
		<div class="actions">
			<a href="register"><button class="btn btn-primary">Sign in</button></a>
			<a href="checkout"><button class="btn btn-primary">Basket</button></a>
		</div>
	</div>

	<div class="additional-links">
		<nav>
			<NavLink href="trades">Trades</NavLink>
			<NavLink href="cards">Cards</NavLink>
			<NavLink href="usercollection">My collection</NavLink>
		</nav>
		<div class="top-row px-4">
			<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
		</div>
	</div>
</header>