.mana-cost img {
    width: 1.5rem;
}

.card-image img {
    width: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.card-image {
    width:60%;
    display:flex;
    justify-content:center;
    align-items:center;
}


.card-information {
    margin: auto auto;
    display: flex;
    flex-direction:row;
    width:70%;
}

.main-information {
    width: 40%;
}